/* #Region Common*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;   
}

:root {
    --discord-primary: #3061e1ff;
    --discord-accent: #8ea1e1ff;
    --discord-black: #23262bFF;
    --discord-light: #d9d9d9;
    --discord-white: #F6F7F7;
}
/* #endregion Common*/

/* #Region Utility*/
.container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^=col-]
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.col-2{
    width: calc(100% / 12 * 2);
}

ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--discord-white);    
}

.justify-content-between{
    justify-content: space-between;
}

/* #endregion Utility*/

/* #region Header */ 
#site_header {
    color: var(--discord-white);
    background-color: var(--discord-primary);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#site_header nav .logo, #site_header nav .signin{
    flex-grow: 1;
}

#site_header .menu {
    flex-grow: 2;
    display: flex;  
    justify-content: space-evenly;
}

/* #button */
.btn{
   text-decoration: none;
   display: inline-block;
   background-color: transparent;
   border: none;
   padding: 0.75rem 0.5rem;
   border-radius: 1.5rem;
   font-size: 12px;   
}

.btn-light {
    background-color: var(--discord-light);
    color: var(--discord-black);
}
.btn-dark {
    background-color: var(--discord-black);
    color: var(--discord-white);
}
.btn-primary {
    background-color: var(--discord-primary);
    margin-top: 3rem;
    margin-bottom: 5rem;
}

/* #endRegion Header */

/* #region Main */

.jumbotron {
   background-image: url(./img/jumbo.png);
   background-size: cover;
   background-position: center;
   text-align: center; 
}

.jumbotron .container {
    padding: 8rem 12rem;
}

.jumbotron h2 {
    font-size: 3.5rem;
    color: var(--discord-white);
    margin-bottom: 2rem;
}

.jumbotron p {
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

/* #endregion Main */
.col-8 {
    width: calc(100%/12 * 8);
}

.col-4 {
    width: calc(100% / 12 * 4);
    
}

.col-4 h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.col-4 p {
    line-height: 1.5rem;
}

.tech {
    text-align: center;
    background-color: var(--discord-light);
}

.tech h2 {
    font-size: 3rem;
}

.tech p {
    line-height: 1.5rem;
}
.meet, .tech {
    background-color: var(--discord-light);
}
.wave {
    color: var(--discord-light);
    margin-bottom: -0.25rem;
}

.wave-bottom {
    transform: rotate(180deg);
    margin-top: -0.5rem;
    color: var(--discord-light);
}

/*Region Footer */

footer {
    background-color: var(--discord-black);
    padding: 3rem 0;
}

footer a{
    font-size: 13px;
    line-height: 1.5rem;
}

footer h5 {
    color: var(--discord-primary);
    margin-bottom: 1rem;
}

footer h3 {
    color: var(--discord-primary);
    font-size: 2.5rem;
}

footer .language {
    display: flex;
    color: var(--discord-white);
    align-items: center;
    gap: 2px;
    margin: 2rem 0;
}

.social {
    color: var(--discord-white);  
}

hr.divider {
    border: 1px solid rgba(48, 98, 225, 0.254);;
    margin-top: 0.5rem;
}

.registrati {
    display: flex;
    justify-content: space-between;
}
